@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&family=Josefin+Slab:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Lato:wght@100;300;400;700&family=Mulish:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* converts 1 rem to 10 pixels */
}

body {
    background: url('https://images.unsplash.com/photo-1508012340316-cdf9d309cea0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80') cover no-repeat;
    transition: all 0.2s ease-out;
    background-color: #797979;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

.banner-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 0 10% 5%;
    flex-wrap: wrap;

    position: relative;
}

.panel-container {
    /* height: 30%; */
    width: 50%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    flex-wrap: wrap;
}

.temperature {
    font-size: 5rem;
}

.city {
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
}

.city :nth-child(2) {
    color: white;
    font-size: 1.7rem;
}

.weather-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.weather-panel img {
    height: 4rem;
}

.weather-panel :nth-child(2) {
    font-size: 1.7rem;
}


.quote-panel {
    position: absolute;
    bottom: 12%;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    width: 60%;
}


.quote-panel :nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-style: italic;
    font-size: 1.5rem;
}


.info-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 25%;

    height: 100vh;
    position: fixed;
    right: 0;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 2rem 2rem 2rem;

    /* Blurred Background */
    backdrop-filter: blur(13px) saturate(200%);
    -webkit-backdrop-filter: blur(13px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

#form {
    display: flex;
    flex-direction: row;
}


.search {
    width: 80%;
    margin-top: 2rem;
    background-color: transparent;
    font-size: 2.8rem;
    outline: none;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    cursor: text;
}

.search::placeholder {
    color: rgb(255, 255, 255, 0.7);
    font-weight: 100;
    font-family: 'Roboto'sans-serif;
    letter-spacing: 2px;
    font-size: 1.7rem;
}

.search:focus {
    background-color: transparent;
}

.submit {
    width: 20%;
    height: 3.5rem;
    margin-top: 2rem;
    outline: none;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

.submit:active {
    color: rgb(0, 0, 0);
    background-color: #fff;
}

.details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
}

.current-time,
.country,
.humidity,
.feels-like,
.wind,
.sunrise,
.sunset,
.moonrise,
.moon-phase {
    position: fixed;
    right: 2rem;
}

/* RESPONSIVE DESIGN CODE */

/* MOBILE LAYOUT */
/* 320px - 480px */
@media (max-width:480px) {

    body {
        background: url('https://images.unsplash.com/photo-1508012340316-cdf9d309cea0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80') center no-repeat;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;

        overflow: hidden;
    }

    .hamburger-menu {
        width: 3rem;
        height: 3rem;
        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;

        transition: right 0.7s;
    }

    .line {
        width: 100%;
        height: 0.2rem;
        background-color: #fff;
        box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 0 0;

        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
    }


    .panel-container {
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #fff;

        position: relative;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        margin-bottom: 10rem;
    }

    .temperature {
        font-size: 8rem;
        background-color: rgb(255, 255, 255, 0.2);
        padding: 1rem;
        margin-bottom: 1.5rem;
        border-radius: 20px;
    }

    .city {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
    }

    .city :nth-child(2) {
        color: white;
        font-size: 2rem;
    }

    .weather-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weather-panel img {
        height: 10rem;
        /* position: relative; */
        /* top: 1rem; */
    }

    .weather-panel :nth-child(2) {
        padding: 1rem;
        font-size: 2rem;
    }

    .quote-panel {

        font-size: 1.7rem;
        font-family: 'Lato', sans-serif;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        color: #fff;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        width: 100%;
        padding: 1rem;
        position: relative;
    }

    .quote-panel :nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-style: italic;
        font-size: 1.5rem;
    }

    .info-container {
        background-color: rgba(0, 0, 0, 0.5);
        height: 90%;
        width: 100%;

        position: fixed;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #fff;
        margin-top: 5rem;
        padding: 1rem;


        backdrop-filter: blur(13px) saturate(200%);
        -webkit-backdrop-filter: blur(13px) saturate(200%);
        background-color: rgba(17, 25, 40, 0.4);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        visibility: visible;
        transition: 0.1s
    }

    #form {
        display: flex;
        flex-direction: row;
    }

    .search {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: transparent;
        font-size: 2.8rem;
        margin-top: 2rem;
        outline: none;
        border: none;
        color: white;
        font-family: 'Lato', sans-serif;
        letter-spacing: 2px;
        cursor: text;
    }

    .search::placeholder {
        color: rgb(255, 255, 255, 0.7);
        font-weight: 100;
        font-family: 'Roboto'sans-serif;
        letter-spacing: 2px;
        font-size: 1.7rem;
    }

    .search:focus {
        background-color: transparent;
    }


    .submit {
        width: 20%;
        height: 3.5rem;
        margin-top: 2rem;
        outline: none;
        border: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.3s;
    }

    .submit:active {
        color: rgb(0, 0, 0);
        background-color: #fff;
    }

    .cities {
        border-top: solid 2px #fff;
    }

    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
    }

    .current-time,
    .country,
    .humidity,
    .feels-like,
    .wind,
    .sunrise,
    .sunset,
    .moonrise,
    .moon-phase {
        /* position: fixed; */
        right: 1rem;
    }

}

/* TABLET LAYOUT */
/* 481px - 768px */
@media (min-width: 481px) and (max-width:768px) {

    body {
        background: url('https://images.unsplash.com/photo-1508012340316-cdf9d309cea0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80') center no-repeat;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;

        overflow: hidden;
    }

    .hamburger-menu {
        width: 6rem;
        height: 6rem;
        position: fixed;
        top: 2rem;
        right: 3rem;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;

        transition: right 0.7s;
    }

    .line {
        width: 100%;
        height: 0.5rem;
        background-color: #fff;
        box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 0 0;

        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
    }


    .panel-container {
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #fff;

        position: relative;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        margin-bottom: 10rem;
    }

    .temperature {
        font-size: 12rem;
        background-color: rgb(255, 255, 255, 0.2);
        padding: 1rem;
        margin-bottom: 2rem;
        border-radius: 40px;
    }

    .city {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
    }

    .city :nth-child(2) {
        color: white;
        font-size: 2.8rem;
    }

    .weather-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .weather-panel img {
        top: 2rem;
        height: 14rem;
    }

    .weather-panel :nth-child(2) {
        padding-top: 1rem 0 0 0;
        font-size: 4rem;
    }

    .quote-panel {
        margin-top: 3rem;
        font-size: 3rem;
        font-family: 'Lato', sans-serif;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        color: #fff;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        width: 100%;
        padding: 3rem;
        position: relative;
    }

    .quote-panel :nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-style: italic;
        font-size: 2.5rem;
    }

    .info-container {
        background-color: rgba(0, 0, 0, 0.5);
        height: 90%;
        width: 100%;

        position: fixed;
        font-size: 3.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #fff;
        margin-top: 5rem;
        padding: 1rem;


        backdrop-filter: blur(13px) saturate(200%);
        -webkit-backdrop-filter: blur(13px) saturate(200%);
        background-color: rgba(17, 25, 40, 0.4);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        visibility: visible;
        transition: 0.1s
    }

    #form {
        display: flex;
        flex-direction: row;
    }

    .search {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: transparent;
        font-size: 2.8rem;
        margin-top: 2rem;
        outline: none;
        border: none;
        color: white;
        font-family: 'Lato', sans-serif;
        letter-spacing: 2px;
        cursor: text;
    }

    .search::placeholder {
        color: rgb(255, 255, 255, 0.7);
        font-weight: 100;
        font-family: 'Roboto'sans-serif;
        letter-spacing: 2px;
        font-size: 3.5rem;
    }

    .search:focus {
        background-color: transparent;
    }


    .submit {
        width: 15%;
        height: 5rem;
        margin-top: 2rem;
        outline: none;
        border: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0s;
        font-size: 2rem;
    }

    .submit:active {
        color: rgb(0, 0, 0);
        background-color: #fff;
    }

    .cities {
        border-top: solid 2px #fff;
    }

    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
    }

    .current-time,
    .country,
    .humidity,
    .feels-like,
    .wind,
    .sunrise,
    .sunset,
    .moonrise,
    .moon-phase {
        /* position: fixed; */
        right: 1rem;
    }
}


/* LAPTOP LAYOUT */
/* 769px - 1024px */
@media (min-width: 769px) and (max-width: 1024px) {

    body {
        background: url('https://images.unsplash.com/photo-1508012340316-cdf9d309cea0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80') center no-repeat;
        transition: all 0.2s ease-out;
        background-color: #797979;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100vh;
        width: 100%;

        overflow: hidden;
    }

    .banner-container {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0 0 10% 5%;
        flex-wrap: wrap;

        position: relative;
    }


    .panel-container {
        width: 60%;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 7%;

        color: #fff;

        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        flex-wrap: wrap;
    }

    .temperature {
        font-size: 4.5rem;
    }

    .city {
        display: flex;
        flex-direction: column;
        font-size: 2.6rem;
    }

    .city :nth-child(2) {
        color: white;
        font-size: 1.5rem;
    }

    .weather-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .weather-panel img {
        height: 4rem;
    }

    .weather-panel :nth-child(2) {
        font-size: 1.5rem;
    }

    .quote-panel {
        font-size: 1.5rem;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: #fff;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        width: 60%;
        position: absolute;
        bottom: 12%;


    }

    .quote-panel :nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-style: italic;
        font-size: 1.5rem;
    }

    .info-container {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 25%;

        position: fixed;
        right: 0;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #fff;
        padding: 1rem;


        backdrop-filter: blur(13px) saturate(200%);
        -webkit-backdrop-filter: blur(13px) saturate(200%);
        background-color: rgba(17, 25, 40, 0.4);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    #form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .search {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: transparent;
        font-size: 1rem;
        outline: none;
        border: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        cursor: text;
    }

    .search::placeholder {
        color: rgb(255, 255, 255, 0.7);
        font-weight: 100;
        font-family: 'Roboto'sans-serif;
        letter-spacing: 2px;
        font-size: 1.4rem;
    }

    .search:focus {
        background-color: transparent;
    }


    .submit {
        width: 20%;
        height: 2.5rem;
        margin-top: 2rem;
        outline: none;
        border: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.3s;

    }

    .submit:active {
        color: rgb(0, 0, 0);
        background-color: #fff;
    }

    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
    }

    .current-time,
    .country,
    .humidity,
    .feels-like,
    .wind,
    .sunrise,
    .sunset,
    .moonrise,
    .moon-phase {
        /* position: fixed; */
        right: 1rem;
    }

    .hamburger-menu {
        visibility: hidden;
    }

}